.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form button {
    border-radius: 8px;
    background-color: rgb(245, 234, 200);
    outline: none;
}
.form input {
    border-radius: 8px;
    outline: none;
}
.form h2 {
    color: rgb(168, 35, 68);
}